<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TaxPersonSuite" parallel="none">
  <test name="TaxPersonCalculatorTest">
    <classes>
      <class name="com.chella.taxperson.tests.TaxPersonCalculatorTestNG"/>
    </classes>
  </test> <!-- TaxPersonCalculatorTest -->
</suite> <!-- TaxPersonSuite -->
